.container{
    background-color:rgb(66, 68, 74);
    display:flex;
    height:100vh;width:100vw;
    align-items:center;
    justify-content:center;
}

.form{
    width:80vw;
    height:fit-content;
    padding:20px;

    background-color:black;
    backdrop-filter:blur(10px);

    border-radius:10px;
    border:1px solid white;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;

}

.rowFlex{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:6px;
}

.colFlex{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:2px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #535252;
  font-weight: 600;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}
