@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --other: #4c4f51;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --other: #4c4f51;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-lexend);
}

.buttonBW{
    background-color:black;
    color:white;
    border-radius:5px;
    padding:4px;
}

.buttonBW:hover{
    background-color:rgb(240, 243, 240);
    color:black;
}

input{
  padding-inline:5px;
  border-radius:10px;
  border:1px none transparent;
  background-color:transparent;
  width:200px;
  font-size:14px;
}